<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <title>Add Favourite Service</title>
        <link rel="stylesheet" href="/css/style.css">
</head>

<body>
        <h1>Edit event</h1>
        <header>
                <nav>
                        <li><a href="/">Home Page</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="#" class="logoutLink">Logout</a></li>
                </nav>
        </header>
        <section>
                <form onsubmit="" action="">
                        <label for="name">Service Number:</label>
                        <input type="text" id="name" name="name">
                        <button type="submit">Add Favourite Service</button>
                </form>
        </section>
        <br>
        <script src='/js/jquery.min.js'></script>
        <script src="/js/editEvent.js"></script>
        <script src="/js/auth.js"></script>
</body>

</html>