<html>

<head>
    <title>Bustopia - Bus Service Information</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Bustopia Bus Service Information</h1>
    <header>
        <nav>
            <li><a href="/homepage">Home Page</a></li>
            <li><a href="/saveservice">Favourite Service</a></li>
            <li><a href="/savestop">Favorite Bus Stop</a></li>
            <li><a href="/findbusstop">Bus Stop Directory</a></li>
            <li><a href="/" id="login">Login</a></li>
            <li><a href="#" class="logoutLink" id="logout">Logout</a></li>
        </nav>
    </header>

    <section>
        <!-- ****not form action! is form onsubmit the method we defined in bus.js**** -->
        <form onsubmit="return getbusinfo() " method="GET">
            <label for="BusStopCode">Enter Bus Service Number:</label>
            <input type="text" id="BusService" name="BusService" required><br>
            <input type="submit" value="Submit">
        </form>
    </section>
    <section class="info">

    </section>
    <section class="info2">

    </section>
    <div class="statusMessage"></div>
    <script src='/js/jquery.min.js'></script>
    <script src="/js/busserviceinfo.js"></script>
    <script src="/js/auth.js"></script>
</body>

</html>