<html>

<head>
    <title>Bustopia Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Login</h1>
    <header>
        <nav>
            <li><a href="/">Home Page</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="#" class="logoutLink">Logout</a></li>
        </nav>
    </header>

    <section>
        <!-- <form action="getbusarrival" method="POST">
            <label for="BusStopCode">Bus stop Number:</label>
            <input type="text" id="BusStopCode" name="BusStopCode"><br>
            <input type="submit" value="Submit">
        </form> -->
    </section>
    <section class="Busarrival">

    </section>
    <script src='/js/jquery.min.js'></script>
    <script src="/js/auth.js"></script>
</body>

</html>