<html>

<head>
    <title>Bustopia - Homepage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Homepage</h1>
    <header>
        <style>
            .authrequired,
            .authnotrequired {
                display: none;
            }
        </style>
        <nav>
            <li>
                <section class="authnotrequired"><a href="/" id="login">Login</a></section>
                </li>
            <li>
                <section class="authrequired"><a href="#" class="logoutLink" id="logout">Logout</a></section>
                </li>
                <li>
                    <section class="authrequired"><a href="/profile">Profile</a></section>
                </li>
            <li>
                <section class="authrequired"><a href="/homepage">Home Page</a></section>
            </li>
            <li>
                <section class="authrequired"><a href="/findbusinfo">Bus Information</a></section>
                </li>
            <li>
                <section class="authrequired"><a href="/saveservice">Favourite Service</a></section>
                </li>
            <li>
                <section class="authrequired"><a href="/savestop">Favorite Bus Stop</a></section>
                </li>
            <li>
                <section class="authrequired"><a href="/findbusstop">Bus Stop Directory</a></section>
            </li>
        </nav>
    </header>

    <section>
        <!-- ****not form action! is form onsubmit the method we defined in bus.js**** -->
        <form onsubmit="return getbusarrival()" method="GET">
            <h2>Bus Arrival Timing</h2>
            <label for="BusStopCode">Bus stop Number:</label>
            <input type="text" onkeypress="return isNumberKey(event,this)" required id="BusStopCode"
                name="BusStopCode"><br>
            <input type="submit" value="Submit">
        </form>
    </section>
    <div class="statusMessage"></div>
    <h1 class="bsc">
    </h1>
    <section class="info">
    </section>

    <script src='/js/jquery.min.js'></script>
    <script src="/js/index.js"></script>
    <script src="/js/auth.js"></script>
    <script src="/js/bus.js"></script>
</body>

</html>