<html>

<head>
    <title>Bustopia Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Register</h1>
    <header>
        <nav>
            <li><a href="/">Home Page</a></li>
        </nav>
    </header>
    <section>
        <!-- calls register function in auth.js -->
        <form onsubmit="return register();">
            <label for="username">User Name:</label>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Register">
        </form>
    </section>
    <div class="statusMessage"></div>
    <script src='/js/jquery.min.js'></script>
    <script src="/js/auth.js"></script>
</body>

</html>